@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F6EACB;
    color: #987070;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
}

.navbar  {
    margin-right: auto;
}

.navbar a {
    font-size: 18px;
    color: #987070;
    text-decoration: none;
    font-weight: 500;
    margin-right: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.nav-link {
    color: #E0A75E;
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 5%;
}

.home-content {
    max-width: 600px;
    margin-left: auto;
}

.home-content h1 {
    font-size: 36px;
    font-weight: 700;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
    text-align: justify;
}

.home-content .btn-box {
    display: flex;
    justify-content: center;
    width: 345px;
    height: 50px;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    background: #BC9F8B;
    border: 2px solid #BC9F8B;
    border-radius: 8px;
    font-size: 19px;
    color: #ededed;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
}